{{ define "main" }}

 <div id="content">
      <!--导航条-->
      <div class="mask">
        
          <div class="fenzhi-nav-item">
            <a class="item-img" href="/category.html"><img src="/upload/images/2018/10/8a051f89bcd0750a.jpg"></a>
          </div>
        
          <div class="fenzhi-nav-item">
            <a class="item-img" href="/ui.html"><img src="/upload/images/2018/10/3e08d3698b088f88.jpg"></a>
          </div>
        
          <div class="fenzhi-nav-item">
            <a class="item-img" href="/cg.html"><img src="/upload/images/2018/10/46f51682aee0c3a5.jpg"></a>
          </div>
        
          <div class="fenzhi-nav-item">
            <a class="item-img" href="/office.html"><img src="/upload/images/2018/10/9a40eea2605a4965.jpg"></a>
          </div>
        
      </div>
      <div class="left-bar">
        
          <div class="header"><h2>前端开发</h2></div>
              <div class="menu" id="menu">
                <ul class="scrollcontent">
                  
                    <li><a href="/category.html#row-1"><i class="fa fa-video"></i>视频教程</a></li>
                  
                    <li><a href="/category.html#row-2"><i class="fa fa-book"></i>在线学习</a></li>
                  
                    <li><a href="/category.html#row-3"><i class="fa fa-puzzle-piece"></i>碎片学习</a></li>
                  
                    <li><a href="/category.html#row-4"><i class="fa fa-wrench"></i>学习工具</a></li>
                </ul>
              </div>
      </div>
      
      <div class="duty-main">
        <div class="container content-box">
        
          <div class="row">
            <div class="col-md-12">
              <div class="duty-tool">
                <ul class="duty-tool-switch hidden-xs hidden-sm">
                  <li><span>图标</span><i class="fa fa-toggle-on"></i></li>
                  <li><span>简介</span><i class="fa fa-toggle-on"></i></li>
                </ul>
              </div>
            </div>
          </div>
            
            <div class="row duty-item">
              <div class="col-md-12">
                <div id="row-1" class="anchor-link"></div>
                <strong class="duty-item-name"><i class="fa fa-video"></i>视频教程</strong>
              </div>            
              <div class="col-md-12 two-list-box">
                <div class="row">
                  
                    <div class="col-md-3 col-sm-4 col-xs-6">
                      <a href="https://www.imooc.com/" class="duty-card" target="_blank" title="慕课网 - 程序员的梦工厂，慕课网是垂直的互联网IT技能免费学习网站。">
                        <div class="duty-card-tit"><img src="/images/zhanwei.gif" data-original="/images/cloud.png">慕课网</div>
                        <div class="duty-card-des">程序员的梦工厂，慕课网是垂直的互联网IT技能免费学习网站。</div>
                      </a>
                    </div>
                  
                   <div class="col-md-3 col-sm-4 col-xs-6">
                      <a href="https://www.imooc.com/" class="duty-card" target="_blank" title="慕课网 - 程序员的梦工厂，慕课网是垂直的互联网IT技能免费学习网站。">
                        <div class="duty-card-tit"><img src="/images/zhanwei.gif" data-original="/images/cloud.png">慕课网</div>
                        <div class="duty-card-des">程序员的梦工厂，慕课网是垂直的互联网IT技能免费学习网站。</div>
                      </a>
                    </div>
                  
                   <div class="col-md-3 col-sm-4 col-xs-6">
                      <a href="https://www.imooc.com/" class="duty-card" target="_blank" title="慕课网 - 程序员的梦工厂，慕课网是垂直的互联网IT技能免费学习网站。">
                        <div class="duty-card-tit"><img src="/images/zhanwei.gif" data-original="/images/cloud.png">慕课网</div>
                        <div class="duty-card-des">程序员的梦工厂，慕课网是垂直的互联网IT技能免费学习网站。</div>
                      </a>
                    </div>
                  
                </div>
              </div>
            </div>

            <div class="row duty-item">
              <div class="col-md-12">
                <div id="row-4" class="anchor-link"></div>
                <strong class="duty-item-name"><i class="fa fa-video"></i>视频教程</strong>
              </div>            
              <div class="col-md-12 two-list-box">
                <div class="row">
                  
                    <div class="col-md-3 col-sm-4 col-xs-6">
                      <a href="https://www.imooc.com/" class="duty-card" target="_blank" title="慕课网 - 程序员的梦工厂，慕课网是垂直的互联网IT技能免费学习网站。">
                        <div class="duty-card-tit"><img src="/images/zhanwei.gif" data-original="/images/cloud.png">慕课网</div>
                        <div class="duty-card-des">程序员的梦工厂，慕课网是垂直的互联网IT技能免费学习网站。</div>
                      </a>
                    </div>
                  
                   <div class="col-md-3 col-sm-4 col-xs-6">
                      <a href="https://www.imooc.com/" class="duty-card" target="_blank" title="慕课网 - 程序员的梦工厂，慕课网是垂直的互联网IT技能免费学习网站。">
                        <div class="duty-card-tit"><img src="/images/zhanwei.gif" data-original="/images/cloud.png">慕课网</div>
                        <div class="duty-card-des">程序员的梦工厂，慕课网是垂直的互联网IT技能免费学习网站。</div>
                      </a>
                    </div>
                  
                   <div class="col-md-3 col-sm-4 col-xs-6">
                      <a href="https://www.imooc.com/" class="duty-card" target="_blank" title="慕课网 - 程序员的梦工厂，慕课网是垂直的互联网IT技能免费学习网站。">
                        <div class="duty-card-tit"><img src="/images/zhanwei.gif" data-original="/images/cloud.png">慕课网</div>
                        <div class="duty-card-des">程序员的梦工厂，慕课网是垂直的互联网IT技能免费学习网站。</div>
                      </a>
                    </div>
                  
                </div>
              </div>
            </div>

            <div class="row duty-item">
              <div class="col-md-12">
                <div id="row-2" class="anchor-link"></div>
                <strong class="duty-item-name"><i class="fa fa-video"></i>视频教程</strong>
              </div>            
              <div class="col-md-12 two-list-box">
                <div class="row">
                  
                    <div class="col-md-3 col-sm-4 col-xs-6">
                      <a href="https://www.imooc.com/" class="duty-card" target="_blank" title="慕课网 - 程序员的梦工厂，慕课网是垂直的互联网IT技能免费学习网站。">
                        <div class="duty-card-tit"><img src="/images/zhanwei.gif" data-original="/images/cloud.png">慕课网</div>
                        <div class="duty-card-des">程序员的梦工厂，慕课网是垂直的互联网IT技能免费学习网站。</div>
                      </a>
                    </div>
                  
                   <div class="col-md-3 col-sm-4 col-xs-6">
                      <a href="https://www.imooc.com/" class="duty-card" target="_blank" title="慕课网 - 程序员的梦工厂，慕课网是垂直的互联网IT技能免费学习网站。">
                        <div class="duty-card-tit"><img src="/images/zhanwei.gif" data-original="/images/cloud.png">慕课网</div>
                        <div class="duty-card-des">程序员的梦工厂，慕课网是垂直的互联网IT技能免费学习网站。</div>
                      </a>
                    </div>
                  
                   <div class="col-md-3 col-sm-4 col-xs-6">
                      <a href="https://www.imooc.com/" class="duty-card" target="_blank" title="慕课网 - 程序员的梦工厂，慕课网是垂直的互联网IT技能免费学习网站。">
                        <div class="duty-card-tit"><img src="/images/zhanwei.gif" data-original="/images/cloud.png">慕课网</div>
                        <div class="duty-card-des">程序员的梦工厂，慕课网是垂直的互联网IT技能免费学习网站。</div>
                      </a>
                    </div>
                  
                </div>
              </div>
            </div>

            <div class="row duty-item">
              <div class="col-md-12">
                <div id="row-3" class="anchor-link"></div>
                <strong class="duty-item-name"><i class="fa fa-video"></i>视频教程</strong>
              </div>            
              <div class="col-md-12 two-list-box">
                <div class="row">
                  
                    <div class="col-md-3 col-sm-4 col-xs-6">
                      <a href="https://www.imooc.com/" class="duty-card" target="_blank" title="慕课网 - 程序员的梦工厂，慕课网是垂直的互联网IT技能免费学习网站。">
                        <div class="duty-card-tit"><img src="/images/zhanwei.gif" data-original="/images/cloud.png">慕课网</div>
                        <div class="duty-card-des">程序员的梦工厂，慕课网是垂直的互联网IT技能免费学习网站。</div>
                      </a>
                    </div>
                  
                   <div class="col-md-3 col-sm-4 col-xs-6">
                      <a href="https://www.imooc.com/" class="duty-card" target="_blank" title="慕课网 - 程序员的梦工厂，慕课网是垂直的互联网IT技能免费学习网站。">
                        <div class="duty-card-tit"><img src="/images/zhanwei.gif" data-original="/images/cloud.png">慕课网</div>
                        <div class="duty-card-des">程序员的梦工厂，慕课网是垂直的互联网IT技能免费学习网站。</div>
                      </a>
                    </div>
                  
                   <div class="col-md-3 col-sm-4 col-xs-6">
                      <a href="https://www.imooc.com/" class="duty-card" target="_blank" title="慕课网 - 程序员的梦工厂，慕课网是垂直的互联网IT技能免费学习网站。">
                        <div class="duty-card-tit"><img src="/images/zhanwei.gif" data-original="/images/cloud.png">慕课网</div>
                        <div class="duty-card-des">程序员的梦工厂，慕课网是垂直的互联网IT技能免费学习网站。</div>
                      </a>
                    </div>
                  
                </div>
              </div>
            </div>
          
        </div>
           
          
        <footer class="footer">
		  <div class="container">
		    <div class="row">
		      <div class="col-md-12">
		        <div class="footer-main">
		          <p>Copyright © 2021 维贝斯（<a href="https://webase.tech">webase.tech</a>）</p>
		        </div>
		      </div>
		    </div>
		  </div>
		</footer>
		<div id="top" class="hidden-xs hidden-sm">
		  <ul>
		    <li class="top-item">
		      <a href="javascript:;" data-tooltip="联 系客 服"><i class="fas fa-comment"></i></a>
		      <span><img src="/images/weixin.jpg"></span>
		    </li>
		    <li class="top-item">
		      <a href="javascript:;" data-tooltip="意 见反 馈"><i class="fas fa-envelope"></i></a>
		      <span>我们可以做的更好</span>
		    </li>
		    <li class="top-item">
		      <a href="javascript:;" data-tooltip="微 信群 聊"><i class="fab fa-weixin"></i></a>
		      <span><img src="/images/qun.jpg"></span>
		    </li>
		    <li class="top-item">
		      <a href="javascript:;" data-tooltip="返 回顶 部" style="display: none" id="go-top"><i class="fa fa-chevron-up"></i></a>
		    </li>
		  </ul>
		</div>


      </div>
    </div>
{{ end }}