{{ define "main" }}
{{ $data := index .Site.Data .Site.Language.Lang }}
{{ $pageParam := .Params }}

 <div id="content">
      <div class="left-bar">
      {{ range $data.categories.children }}
        {{ if eq .id $pageParam.id }}
        
          <div class="header"><h2>{{.name}}</h2></div>
              <div class="menu" id="menu">
                <ul class="scrollcontent">
                    {{range .children}}
                    <li><a href="#{{.id}}"><i class="{{.icon}}"></i>{{.name}}</a></li>
                  
                    {{end}}
                </ul>
              </div>
        {{end}}
      {{end}}
      </div>
      
      <div class="duty-main">
        <div class="container content-box">
        
          <div class="row">
            <div class="col-md-12">
              <div class="duty-tool">
                <ul class="duty-tool-switch hidden-xs hidden-sm">
                  <li><span>图标</span><i class="fa fa-toggle-on"></i></li>
                  <li><span>简介</span><i class="fa fa-toggle-on"></i></li>
                </ul>
              </div>
            </div>
          </div>
            {{ range $data.categories.children }}
            {{ if eq .id $pageParam.id }}
            {{ range .children }}
            <div class="row duty-item">
              <div class="col-md-12">
                <div id="{{.id}}" class="anchor-link"></div>
                <strong class="duty-item-name"><i class="{{.icon}}"></i>{{ .name}}</strong>
              </div>            
              <div class="col-md-12 two-list-box">
                <div class="row">
                    {{ range .children }}
                    <div class="col-md-3 col-sm-4 col-xs-6">
                      <a href="{{.url}}" class="duty-card" target="_blank" title="慕课网 - 程序员的梦工厂，慕课网是垂直的互联网IT技能免费学习网站。">
                        <div class="duty-card-tit"><img src="/images/zhanwei.gif" data-original="/images/cloud.png">{{.name}}</div>
                        <div class="duty-card-des">程序员的梦工厂，慕课网是垂直的互联网IT技能免费学习网站。</div>
                      </a>
                    </div>
                    {{ end }}
                  
                </div>
              </div>  
            </div>
            {{ end }}
            {{ end }}
            {{ end }}
          
        </div>
           
          
       


      </div>
    </div>
{{ end }}