{{ if site.Params.preloader.enable }}
{{ "<!-- preloader start -->" | safeHTML }}
<div class="preloader">
  {{ with site.Params.preloader.preloader }}
  <img src="{{ . | absURL }}" alt="preloader">
  {{ end }}
</div>
{{ "<!-- preloader end -->" | safeHTML }}
{{ end }}

<script type="text/javascript" src="/SiteFiles/Plugins/SS.Login/assets/js/jquery.min.js"></script>
	<script type="text/javascript" src="/SiteFiles/Plugins/SS.Login/assets/js/vue-2.1.10.min.js"></script>
	<script type="text/javascript" src="/SiteFiles/Plugins/SS.Login/assets/js/vee-validate-2.0.3.js"></script>
	<script type="text/javascript" src="/SiteFiles/Plugins/SS.Login/assets/js/es6-promise.auto.min.js"></script>
	<script type="text/javascript" src="/SiteFiles/Plugins/SS.Login/assets/js/axios-0.17.1.min.js"></script>
	<script type="text/javascript" src="/SiteFiles/Plugins/SS.Login/assets/script.js"></script>
	<script src="/sitefiles/assets/components/lodash-4.17.4.min.js" type="text/javascript"></script>
	<script src="/sitefiles/assets/components/stlClient.js" type="text/javascript"></script>