{{ define "main" }}

  

    <!--[if lt IE 8]>
    <div class="alert alert-danger">您正在使用 <strong>过时的</strong> 浏览器. 是时候 <a href="http://browsehappy.com/">更换一个更好的浏览器</a> 来提升用户体验.</div>
    <![endif]-->
    <!--头部导航条-->
    
    
    <div id="content">
      
        <div class="container content-box">
        
          <div class="row">
              <div class="duty-tool">
              </div>
          </div>
            
           {{- partial "allcates.html" . }}

        </div>
    </div>
   
  

{{ end }}